<%- include('header'); -%>


<div class="contact">

    <div class="about-div">
        <h1>This is about page</h1>
       <p><%= aboutcont  %></p>
    </div>

    <div class="aboutshape">
        <img src="/css/aboutusshape.jpg" alt="">
    </div>


    
</div>



 
    





<%- include('footer'); -%>