<%- include('header'); -%>


<div class="compose">
    <h1>#Curate your ideas 💡</h1>

    <form action="\compose" method="post">
        <label for="title">Title</label>
        <input type="text" name="titlename"  class="title-class" id="title" rows="2">
        <label for="publish">Post</label>
        <textarea name="publishname" id="publish" rows="6" class="publish-class"></textarea>
        <!-- <input type="text" name="publishblog"  class="publish-class" id="publish" > -->
        <button type="submit" class="post-btn">COMPOSE</button>
    </form>

   

</div>






<%- include('footer'); -%>