<%- include('header'); -%>

<div class="contactreal">

    <form action="" class="contactform">
        <h1>This is contact page</h1>
        <p><%= contactcont  %></p>
    </form>
    

</div>







<%- include('footer'); -%>