
  @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@600&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background-color: #f2f2f2;
  
}




  nav {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    /* box-shadow: 0 2px 2px -2px rgba(0,0,0,.2); */
  }
  
  .navbar-brand {
    font-size: 36px;
    font-weight:800;
    color: #333;
    margin-left: 3.6rem;
    font-family: 'Ysabeau SC', sans-serif;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 15rem;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 4rem;
  }


  
  .navbar-menu a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    padding: 9px;

  }
  
  .navbar-menu a:hover {
    border-radius:90px ;
    color:slategray;
    border: 2.4px solid black;
    box-shadow: #422800 4px 4px 0 0;
    
    /* border-right: 7.5px solid aquamarine;
    border-bottom: 8px solid aquamarine; */
    border-top-style:groove;
    border-left-style:groove;
  }

  footer{
    position: fixed;
    bottom: 0;
    right: 0;
    /* background-color: aquamarine; */
    /* background-color: #DDDDDD; */
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
  }

  footer p{
    color:#1A1A2E;
    margin-bottom: 3px ;
    font-size: 1.5rem;

  }

.home , .contact, .about, .compose{
    /* background-color: burlywood; */
    margin: 18px 4rem 4px 4rem;
    /* margin: 18px 4rem 6px 4rem; */
    padding-top: 10px;
    /* padding-bottom: 30px; */
    padding-bottom: 12px;
    
}

main {
  background-image: url(v996-004.jpg);
  min-height: 86vh;
}

.contact, .about{                     /*newly added*/
  background-color: cornsilk;
}

.home-blog{
    /* margin-top: 1rem; */
    margin-top: 4px;
    padding-top: 2px;
    padding-bottom: 3rem;
}

.home-blog h1{
    margin-top: 3px;
    margin-bottom: 3px;
    
}

.home>h1, .contact>h1, .about>h1{
    line-height: 3.6rem;
    color: #213363;
}

.home h1{
  color: #213363;
}

.compose h1{
  color: #213363;
  
}

form{
    display: flex;
    flex-direction: column;
    /* background-color: #f2f2f2; */
    padding-top: 30px;
    padding-bottom: 20px;
    gap: 1rem;
}

form .title-class,.publish-class{
    width: 70vw;
    border-radius: 15px;
  
}

.title-class{
  border-radius: 4px;
}

.title-class{
    height: 2rem;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 1px;
}
    

.publish-class{
    height: 10rem;
    padding-left: 8px;
    padding-top: 8px;
}

.post-btn{
    width: 6rem;
    height: 2rem;
    text-align: center;
    /* border-radius: 40px;
    border-right: 4px solid gray;
    border-bottom: 4px solid gray; */



  appearance: none;
  background-color: #000000;
  /* background-color: transparent; */
  border: 2px solid #1A1A1A;
  border-radius: 24px;
  box-sizing: border-box;
  color: #FFFFFF;
  /* color: #000000; */
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 48px;
  min-width: 0;
  outline: none;
  /* padding: 16px 24px; */
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 9%;
  will-change: transform;
    
}

.post-btn:hover{
  background-color: transparent;
  box-shadow: black 6px 6px 0 0;
  color: #000000;

  

}

label{
    font-size: 1.5rem;
    font-weight: 400;
    font-family:serif
}

.eachblog{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    /* background-color: antiquewhite; */
    background-color: #FFEACA;
    border-radius: 15px;
    padding: 1rem;
    padding-bottom: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
  
.publish-blog{
  padding: 1rem;
  background-color:rgb(209, 242, 231);
  min-height: 70vh;
  border-radius: 20px;
  box-shadow: black 6px 6px 0 0;
  
  
}

.delrefdivform{
  /* background-color: wheat; */
  /* margin: 2px; */
  margin: 0;
  padding: 0;
}


.delref{
  background-color: #FAF0D7;
  border-radius: 20%;
  position: relative;
  left: 81rem;
  padding: 4px;
  
}

